.latex-equation-wrapper-latex-tool {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;
}

.latex-equation-textarea-latex-tool {
  width: 100%;
  height: fit-content;
  background-color: inherit;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  resize: none;
  color: #dd4a68;
  field-sizing: content;
}

.latex-equation-textarea-latex-tool:focus {
  outline: none;
  box-shadow: none;
}

#output-latex-tool {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.latex-wrapper {
  position: relative;
}

.latex-equation-overlay {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  height: auto;
  width: 100%;
  padding: 2%;
  background-color: #f7f7f5;
  z-index: 1;
  word-break: break-word;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.latex-equation-overlay--hidden {
  pointer-events: none;
  visibility: hidden;
}

.latex-button-wrapper {
  padding: 10px;
}

.latex-done-button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  min-width: fit-content;
  white-space: nowrap;
}
.latex-done-button:hover {
  background-color: #218838;
}

.latex-done-button-color {
  background-color: #28a745;
  color: white;
}
