.latex-tool-equation-area {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.latex-tool-equation-textarea-wrapper {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  overflow: auto;
}

.latex-tool-equation-textarea {
  width: 100%;
  height: fit-content;
  background-color: inherit;
  font-size: 16px;
  border: none;
  resize: none;
  color: #dd4a68;
  field-sizing: content;
}

.latex-tool-equation-textarea:focus {
  outline: none;
  box-shadow: none;
}

#output-latex-tool {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.latex-tool-wrapper {
  position: relative;
}

.latex-tool-equation-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f7f7f5;
  z-index: 1;
  word-break: break-word;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.latex-tool-button-wrapper {
  padding: 10px;
}

.latex-tool-done-button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  min-width: fit-content;
  white-space: nowrap;
}

.latex-tool-done-button:hover {
  background-color: #218838;
}

.latex-tool-done-button-color {
  background-color: #28a745;
  color: white;
}
